:root {
  font-family: Roboto,Trebuchet MS,Helvetica,sans-serif;;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: url("./assets/doroga-les-gory-vecher.jpg") fixed 0 0 no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.app-kanban-column-left {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 240px;
  max-width: 340px;
  padding: 0 3px;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transform: translateZ(0);
}

.app-kanban-column-left:before {
  content: '';
  position: absolute;
  /*! left: 3px; */
  top: 80px;
  bottom: 5px;
  /*! width: 2px; */
  border-left: 1px dashed #d7dee1;
  z-index: 9;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.ghost-card {
   opacity: 0.5;
   background: #F7FAFC;
   border: 1px solid #4299e1;
 }

.column-width {
  min-width: 240px;
  width: 320px;
}

.justify-center {
  justify-content: center;
}

.min-h-screen {
  min-height: 100vh;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}